@import "vars"

/*==========  Desktop First  ==========*/



@media only screen and (max-width : 1800px)
    .second-section
      .items
        .item
          .wrap-img-2
            width: 40%
            img
              max-width: none
              width: 100%

    .food-truck-section
      min-height: 930px
      .background-lier
        width: 300px
        height: 250px
      .right-block
        width: 50%
        display: flex
        flex-direction: column
        padding-right: 0
        h3
          font-size: 120px
        h4
          font-size: 107px
        .wrapper
          img
            width: 110px
            height: 70px
        p
          font-size: 42px
        .wrap-button
          a
            font-size: 45px
            &:hover
              font-size: 43px
      .left-block
        .wrap-img
          max-width: 760px


@media only screen and (max-width : 1650px)
    .second-section
      .items
        .item
          height: 360px
          .wrap-img-1
            width: 40%
            img
              max-width: none
              width: 100%
          a
            font-size: 50px
          .item-link-3
            .wrap-img
              img
                max-width: 175px

    .food-truck-section
      padding-top: 140px
      .left-block
        .wrap-img
          width: 650px
      .right-block
        h3
          font-size: 110px
        h4
          font-size: 98px
        .wrapper
          img
            width: 100px
            height: 58px


@media only screen and (max-width : 1400px)
    .header
      .invite-him
        width: 265px
        height: 70px
      .slider-header
        .slick-slider
          .slick-next
            left: 1000px
          .slick-prev
            right: 1000px
        .slides
          .slide
            //height: 675px
            height: 100vh
    .second-section
      .items
        .item
          a
            font-size: 40px
          .wrap-text-1
            img
              width: 60px
              height: 25px
              bottom: -35px
          .item-link-3
            .wrap-img
              img
                max-width: 140px
    .third-section
      min-height: 510px
      h3
        font-size: 110px
      p
        font-size: 35px
      .wrap-block
        .wrap-text
          p
            font-size: 58px
      .wrap-block
        .wrap-img
          width: 130px
      .wrap-button
        a
          font-size: 42px
          &:hover
            font-size: 40px

    .fourtch-section
      min-height: 470px
      h3
        font-size: 110px
      p
        font-size: 60px
        line-height: 1.2
      .wrap-button
        a
          font-size: 43px
          &:hover
            font-size: 41px
    .fifth-section
      min-height: 460px

    .instagram-section
      .wrap-title
        margin-bottom: 40px
        a
          font-size: 65px
        img
          width: 80px
          height: 52px

    .food-truck-section
      padding-top: 100px
      min-height: 710px
      .background-lier
        width: 210px
        height: 175px
        right: 30px
      .wrap-sections
        justify-content: flex-end
      .left-block
        .wrap-img
          width: 600px
      .right-block
        width: 48%
        h3
          font-size: 100px
        h4
          font-size: 90px
        .wrapper
          margin-bottom: 35px
          img
            width: 85px
            height: 50px
        p
          font-size: 38px
        .wrap-button
          margin-top: 30px
          a
            font-size: 32px
            &:hover
              font-size: 30px

    footer
      .main-holder
        padding: 0 60px




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    header
      padding-top: 49px
      .nav-section
        .nav-menu-block
          .nav
            margin: 0 -14px
            li
              padding: 0 14px
        .logo-block
          .wrap-logo
            width: 240px
            height: auto
        .social-block
          margin-right: 20px
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 800px
          .slick-prev
            right: 800px
        .slides
          .slide
            height: 570px
      .invite-him
        top: 290px
    .second-section
      .items
        .item
          height: 250px
          a
            font-size: 35px
          .wrap-text-2
            width: 60%
          .wrap-text-1
            img
              width: 50px
              height: 22px
              bottom: -33px
    .third-section
      min-height: 430px
      h3
        font-size: 90px
        margin-top: 30px
      p
        font-size: 30px
      .wrap-block
        .wrap-text
          p
            font-size: 48px
        .wrap-img
          width: 100px
      .wrap-button
        a
          font-size: 38px
          &:hover
            font-size: 36px

    .fourtch-section
      min-height: 420px
      h3
        font-size: 100px
      p
        font-size: 53px
      .wrap-button
        a
          font-size: 40px
          &:hover
            font-size: 38px
    .fifth-section
      min-height: 370px

    .instagram-section
      .wrap-title
        a
          font-size: 55px

    .food-truck-section
      padding-top: 80px
      min-height: 580px
      .left-block
        .wrap-img
          width: 460px
      .right-block
        h3
          font-size: 70px
        h4
          font-size: 60px
        .wrapper
          margin-bottom: 25px
          img
            width: 60px
            height: 35px
        p
          font-size: 28px
        .wrap-button
          margin-top: 25px
          a
            font-size: 28px
            &:hover
              font-size: 26px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    header
      padding-top: 30px
      .nav-section
        justify-content: flex-end
        .wrap-logo-mobile
          display: flex
          justify-content: center
          margin-bottom: 30px
        .wrap-nav-menu
          overflow: auto
          display: none
          position: fixed
          top: 0
          left: 0
          padding: 80px 0 50px
          //right: 0
          z-index: 2
          //max-width: 100%
          width: 100%
          margin: 0 auto
          color: white
          background-color: #fcaf17
          //min-height: 465px
          height: 100vh
          flex-direction: column
          justify-content: flex-start
        .nav-menu-block
          //order: 1
          .nav
            flex-direction: column
            li
              margin-bottom: 10px
              text-align: center
              ul
                position: relative
                //left: 0
                //top: 100%
                background: rgba(0, 0, 0, .5)
                z-index: 5
                //padding: 10px 0
                visibility: visible
                opacity: 1
                transform: scale(1)
                transition: .3s ease-in-out
            .has-submenu
              &:after
                top: 15px

            .yellow-color
              a
                color: black
        .social-block
          margin-right: 0
          margin-top: 30px
          .items
            a
              &:hover
                color: #000
        .nav-menu-block
          .nav
            a
              &:hover
                color: black



    .header
      margin-top: -80px
      .slider-header
        .slick-slider
          .slick-next
            left: 600px
          .slick-prev
            right: 600px
        .slides
          .slide
            height: 450px
      .invite-him
        width: 230px
        height: 60px
        font-size: 42px
    .second-section
      .items
        .item
          height: 210px
          a
            font-size: 30px
          .wrap-img-2
            width: 35%
          .wrap-text-2
            width: 65%
          .item-link-3
            .wrap-img
              img
                width: 95px
    .third-section
      background-position: left 35% bottom 50%

    .fourtch-section
      min-height: 360px
      h3
        font-size: 80px
      p
        font-size: 40px
      .wrap-button
        a
          font-size: 36px
          &:hover
            font-size: 34px
    .fifth-section
      background-position: left

    .instagram-section
      .wrap-title
        margin-bottom: 35px
        a
          font-size: 45px
        img
          width: 55px
          height: 35px

    .food-truck-section
      min-height: 435px
      .background-lier
        display: none
      .left-block
        .wrap-img
          width: auto
          max-width: 460px
      .right-block
        padding-top: 20px
        width: 450px
        h3
          font-size: 55px
        h4
          font-size: 45px
        p
          font-size: 22px
        .wrapper
          img
            width: 47px
            height: 27px






/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 450px
          .slick-prev
            right: 450px
        .slides
          .slide
            height: 400px
      .invite-him
        width: 200px
        font-size: 36px
        top: 260px
    .second-section
      .items
        justify-content: flex-end
        .item
          width: 50%
    .third-section
      background-position: center
      min-height: 365px
      h3
        font-size: 73px
      p
        font-size: 20px
      .wrap-block
        .wrap-text
          p
            font-size: 37px
        .wrap-img
          width: 85px
      .wrap-button
        a
          font-size: 34px
          &:hover
            font-size: 32px

    .fourtch-section
      background-position: right 20% bottom 50%
      .left-block
        width: 63%
      h3
        font-size: 75px
    .fifth-section
      p
        font-size: 26px

    .instagram-section
      padding-top: 30px
      .instagram-pics
        li
          width: 25%
      .wrap-title
        margin-bottom: 30px
        a
          font-size: 40px

    .food-truck-section
      padding-top: 50px
      padding-bottom: 50px
      .main-holder
        //padding: 0
      .wrap-sections
        flex-wrap: wrap
      .right-block
        width: 100%
        h3
          font-size: 80px
        h4
          font-size: 74px
        p
          font-size: 34px
        .wrap-button
          a
            font-size: 34px
        .wrapper
          img
            width: 56px
            height: 38px
      .left-block
        width: 100%
        .wrap-img
          max-width: none

    footer
      .main-holder
        padding: 0 20px
      .right-block
        .wrap-img
          display: block
          width: 90px
      .left-block
        .items
          .item
            max-width: 90px







@media only screen and (max-width : 600px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 380px
          .slick-prev
            right: 380px
        .slides
          .slide
            height: 375px
    .second-section
      .items
        .item
          a
            font-size: 26px

    .fourtch-section
      min-height: 310px
      background-position: right 28% bottom 50%
      .left-block
        width: 70%
      h3
        font-size: 65px
      p
        font-size: 33px
      .wrap-button
        a
          font-size: 34px
          &:hover
            font-size: 32px





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    header
      .nav-section
        .logo-block
          .wrap-logo
            width: 210px
        .wrap-logo-mobile
          width: 210px
          margin: 0 auto 30px
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 280px
          .slick-prev
            right: 280px
        .slides
          .slide
            height: 375px
      .invite-him
        width: 160px
        height: 50px
        font-size: 28px
    .second-section
      .items
        .item
          width: 100%
          a
            font-size: 32px
          .wrap-text-1, .wrap-text-2
            align-items: center
          .item-link-3
            .wrap-img
              img
                width: 120px
          .wrap-img-1
            width: 33%
        .order-1
          order: 3
        .order-2
          order: 2
        .order-3
          order: 1

    .third-section
      min-height: 315px
      h3
        font-size: 56px
      p
        font-size: 16px
      .wrap-block
        .wrap-text
          p
            font-size: 28px
        .wrap-img
          width: 60px
      .wrap-button
        a
          font-size: 30px
          &:hover
            font-size: 28px

    .fourtch-section
      min-height: 280px
      .left-block
        width: 80%
      h3
        font-size: 58px
        margin-top: 20px
      p
        font-size: 30px

    .fifth-section
      min-height: 270px
      background-position: left 35% bottom 50%
      p
        font-size: 20px

    .instagram-section
      .wrap-title
        a
          font-size: 32px
        img
          width: 37px
          height: 25px
      .instagram-pics
        margin: 0 -3px
        li
          padding: 0 3px
          margin-bottom: 6px
          width: 33.333%

    .food-truck-section
      padding-top: 30px
      .right-block
        h3
          font-size: 70px
        h4
          font-size: 62px
        p
          font-size: 26px
        .wrapper
          img
            width: 55px
            height: 35px

    footer
      .wrap-footer
        flex-wrap: wrap
      .left-block
        width: 100%
        order: 2
        text-align: center
      .right-block
        width: 100%
        display: flex
        justify-content: center
        margin-bottom: 30px
        .wrap-img
          width: 70px



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 250px
          .slick-prev
            right: 250px
        .slides
          .slide
            height: 310px

    .third-section
      min-height: 300px
      h3
        font-size: 48px
      p
        font-size: 13px

    .fourtch-section
      .left-block
        width: 100%
    .fifth-section
      min-height: 250px
      p
        font-size: 16px

    .food-truck-section
      .right-block
        p
          font-size: 22px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

