@import "vars"

/*==========  Desktop First  ==========*/




@media only screen and (max-width : 1400px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 1000px
          .slick-prev
            right: 1000px
        .slides
          .slide
            height: 675px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    header
      padding-top: 49px
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 800px
          .slick-prev
            right: 800px
        .slides
          .slide
            height: 570px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 600px
          .slick-prev
            right: 600px
        .slides
          .slide
            height: 450px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 450px
          .slick-prev
            right: 450px
        .slides
          .slide
            height: 400px




@media only screen and (max-width : 600px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 380px
          .slick-prev
            right: 380px
        .slides
          .slide
            height: 375px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 280px
          .slick-prev
            right: 280px
        .slides
          .slide
            height: 375px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    .header
      .slider-header
        .slick-slider
          .slick-next
            left: 250px
          .slick-prev
            right: 250px
        .slides
          .slide
            height: 310px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

