@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff



//============================================
body
	overflow-x: hidden
img
	display: inline-block
	max-width: 100%
	height: auto
	transition: .3s

h1, h2, h3, h4, p, span
	margin: 0 auto
	padding: 0 auto
	text-decoration: none
	font-weight: normal

ul
	margin: 0 auto
	padding: 0

.main-holder
	overflow: hidden
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px
	position: relative

//============================================
header
	direction: rtl
	z-index: 3
	position: relative
	//margin-bottom: -35px
	padding-top: 80px
	.nav-section
		display: flex
		justify-content: space-between
		align-items: center
		.wrap-nav-menu
			display: flex
			justify-content: space-between
			align-items: center

		.nav-menu-block
			.nav
				display: flex
				justify-content: center
				align-items: center
				flex-wrap: wrap
				margin: 0 -17px
				li
					padding: 0 17px
					list-style: none
					position: relative
				.current-menu-item
					&:after
						content: ''
						position: absolute
						bottom: 0
						left: 50%
						transform: translateX(-50%)
						width: 60%
						height: 3px
						border-bottom: 3px solid white
				a
					font-family: "mikhmoret-light-aaa"
					font-size: 28.2px
					line-height: 1.2
					color: white
					text-decoration: none
					transition: .2s
					&:hover
						color: #fcaf17
				.yellow-color
					a
						color: #fcaf17
						font-family: "mikhmoret-regular-aaa"
		.social-block
			margin-right: 50px
			.items
				display: flex
				justify-content: center
				align-items: center
				margin: 0 -10px
				li
					padding: 0 10px
					list-style: none
				a
					font-size: 20px
					color: white
					transition: .3s
					&:hover
						color: #fcaf17
				li:first-child
					border-left: 2px solid white
					padding-left: 15px
				li:nth-child(2)
					padding-right: 20px
		.logo-block
			.wrap-logo
				width: 280px
				height: 35px
.header
	width: 100%
	margin-top: -115px
	.invite-him
		direction: rtl
		position: fixed
		top: 225px
		right: 0
		width: 285px
		height: 80px
		z-index: 2
		display: flex
		justify-content: flex-end
		align-items: center
		background: #fcaf17
		border-radius: 20px 0 0 20px
		font-family: "mikhmoret-bold-aaa"
		font-size: 52px
		line-height: 1.2
		color: black
		text-decoration: none
		span
			position: relative
			margin-left: 50px
			&:after
				content: ''
				position: absolute
				top: 50%
				left: -20px
				transform: translateY(-50%) rotate(45deg)
				width: 10px
				height: 10px
				border-left: 3px solid black
				border-bottom: 3px solid black
	.slider-header
		width: 100%
		.slides
			display: flex
			justify-content: center
			align-items: center
			overflow: hidden
			.slide
				background-size: cover
				background-position: center
				width: 100%
				//height: 834px
				height: 100vh

		.slick-slider
			//direction: ltr
			position: relative
			display: block
			box-sizing: border-box
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			-ms-touch-action: pan-y
			touch-action: pan-y
			-webkit-tap-highlight-color: transparent

			.slick-list
				position: relative
				overflow: hidden
				display: block
				margin: 0
				padding: 0
				width: 100%
				transform: translate3d(0, 0, 0)
				&:focus
					outline: none
				&.dragging
					cursor: pointer
					cursor: hand

			.slick-track
				position: relative
				left: 0
				top: 0
				display: block
				transform: translate3d(0, 0, 0)

				&:before,
				&:after
					content: ""
					display: table

				&:after
					clear: both

			.slick-slide
				//float: left
				//height: 100%
				//height: 400px
			//width: 640px

			.slick-arrow
				position: absolute
				border: none
				outline: none
				top: 50%
				width: 60px
				height: 100px
				//border-left: 5px solid #00b3cb
				//border-top: 5px solid #00b3cb
				background: transparent
				z-index: 1


			.slick-next
				left: 1200px
				&:after
					content: ''
					position: absolute
					border: none
					outline: 0
					top: 50%
					left: 50%
					width: 18px
					height: 18px
					border-left: 3px solid white
					border-top: 3px solid white
					//z-index: 99999
					transform: translateY(-50%) translateX(-50%) rotate(130deg)
					z-index: 1
			.slick-prev
				right: 1200px
				&:after
					content: ''
					position: absolute
					border: none
					outline: 0
					top: 50%
					left: 50%
					width: 18px
					height: 18px
					border-left: 3px solid white
					border-top: 3px solid white
					//z-index: 99999
					transform: translateY(-50%) translateX(-50%) rotate(-45deg)
					z-index: 1

			.slick-arrow.slick-hidden
				display: none

			.slick-next:before, .slick-prev:before
				content: none

.second-section
	width: 100%
	.items
		direction: rtl
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		.item
			width: 33.333%
			height: 480px
			list-style: none
			a
				font-family: "mikhmoret-regular-aaa"
				font-size: 60px
				line-height: 1.2
				color: #231f20
				text-decoration: none
				background-size: cover
				background-position: center
				width: 100%
				height: 100%
				display: flex
				justify-content: center
				align-items: center
			.item-link-3
				justify-content: flex-end
				align-items: flex-start
				&:hover
					.wrap-img
						img
							transform: rotate(-8.5deg)
				.wrap-img
					display: flex
					justify-content: flex-end
					align-items: flex-end
					margin: 0
					img
						transition: .3s
						max-width: 220px
						margin-top: 25px
						margin-left: 15px
			.wrap-img
				display: flex
				justify-content: center
				align-items: center
			.item-link-1
				&:hover
					.wrap-img
						img
							transform: rotate(12.5deg)
					.wrapeer
						img
							transform: translateX(-100%)
			.wrap-text-1
				width: 45%
				display: flex
				justify-content: flex-start
				flex-direction: column
				align-items: flex-end
				margin-left: 20px
				span
					margin: 0
					line-height: .9
				.wrapeer
					display: flex
					justify-content: flex-start
					flex-direction: column
					align-items: flex-start
					position: relative
				img
					transition: ease .3s
					position: absolute
					bottom: -50px
					right: 0
					width: 78px
					height: 33px
					z-index: 1
			.wrap-img-1
				width: 55%
				display: flex
				justify-content: flex-start
				padding-right: 20px
				img
					max-width: 253px
			.item-link-2
				&:hover
					.wrap-img
						img
							transform: rotate(360deg)
			.wrap-img-2
				width: 50%
				display: flex
				justify-content: flex-start
				margin-left: 25px
				img
					max-width: 314px
			.wrap-text-2
				width: 50%
				display: flex
				justify-content: flex-start
				flex-direction: column
				align-items: flex-end
				padding-left: 20px
				span
					margin: 0
				.wrapeer
					display: flex
					justify-content: flex-start
					flex-direction: column
					align-items: flex-start



//=============== Togle mnu ======

.toggle-mnu
	//background: #666666
	display: block
	position: absolute
	right: 26px
	top: 7px
	//width: 48px
	//height: 48px
	text-align: center
	line-height: 48px
	z-index: 9
	cursor: pointer



.toggle-mnu
	display: block
	width: 40px
	height: 28px
	margin: 22px auto 0
	position: absolute
	right: 15px
	top: 27px

.toggle-mnu
	position: fixed
	right: 19px
	top: 20px

.toggle-mnu span:after,
.toggle-mnu span:before
	content: ""
	position: absolute
	left: 0
	top: -9px

.toggle-mnu span:after
	top: 9px

.toggle-mnu span
	position: relative
	display: block
	z-index: 2222


.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before
	//width: 100%
	width: 27px
	height: 3px
	background-color: white
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px

/* on activation */
.toggle-mnu.on span
	background-color: transparent

.toggle-mnu.on span:before
	transform: rotate(45deg) translate(5px, 5px)

.toggle-mnu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-mnu.on + #menu
	opacity: 1
	visibility: visible
.toggle-mnu
	&:after
		content: ''
		//background: #217776
		width: 50px
		height: 50px
		position: absolute
		top: -24px
		left: -5px
.toggle-mnu.on
	&:after
		//background-color: #00525d
		width: 45px
		height: 45px
		top: -22px
		left: -3px
.toggle-mnu.background-button
	&:after
		background-color: #fcaf17
		width: 45px
		height: 45px
		top: -22px
		left: -3px
		z-index: 9


.third-section
	direction: rtl
	width: 100%
	min-height: 584px
	background-size: cover
	//background-position: center
	h3
		font-family: "mikhmoret-regular-aaa"
		font-size: 130px
		line-height: 1.23
		color: #fcaf17
		margin-top: 40px
	p
		font-family: "mikhmoret-regular-aaa"
		font-size: 45px
		color: rgb(35, 31, 32)
		line-height: 1.418
	.wrap-block
		display: flex
		align-items: center
		margin-bottom: 20px
		.wrap-img
			width: 150px
			margin-left: 20px
		.wrap-text
			p
				font-family: "mikhmoret-regular-aaa"
				font-size: 70px
				color: rgb(35, 31, 32)
				line-height: 1.157
	.wrap-button
		margin-top: 20px
		margin-bottom: 50px
		a
			font-family: "mikhmoret-bold-aaa"
			font-size: 50px
			color: rgb(0, 0, 0)
			font-weight: bold
			line-height: 1.28
			text-decoration: none
			border: 2px solid black
			padding: 5px
			transition: .2s
			&:hover
				font-size: 48px

.fourtch-section
	width: 100%
	min-height: 607px
	background-size: cover
	background-position: right
	.left-block
		width: 50%
		direction: rtl
	h3
		font-family: "mikhmoret-regular-aaa"
		font-size: 130px
		color: rgb(252, 175, 23)
		line-height: 1.23
		margin-top: 40px
	p
		font-family: "mikhmoret-regular-aaa"
		font-size: 70px
		color: rgb(255, 255, 255)
		line-height: 1.349
	.wrap-button
		margin-top: 20px
		margin-bottom: 50px
		a
			font-family: "mikhmoret-bold-aaa"
			font-size: 50px
			color: white
			font-weight: bold
			line-height: 1.28
			text-decoration: none
			border: 2px solid white
			padding: 5px
			transition: .2s
			&:hover
				font-size: 48px















@import "media" // Всегда в конце
